# EmailJS Credentials for forwarding lead forms to info@ameenhealthinsurance.com
VITE_EMAILJS_SERVICE_ID=service_ameen_health
VITE_EMAILJS_TEMPLATE_ID=template_lead_ameen
VITE_EMAILJS_PUBLIC_KEY=pubkey_ameen_health
